<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Street50</title>
    <link href="./.compiled/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="topMenu"></div>
    <div id="mainPageTop"></div>
    <div id="mainPageMiddle"></div>
    <div id="mainPageBottom"></div>
    <div id="footer"></div>
    <script src="./.compiled/js/app.js"></script>
</body>
</html>